* {
  margin: 0;
  padding: 0;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
}

.wrapper {
  background-color: #F4F5F8;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  color: #161616;
  font-weight: 500;
}
.title-big {
  font-size: 40px;
  line-height: 1.2;
}
.title-medium {
  font-size: 24px;
  line-height: 1.17;
}
.title-small {
  font-size: 20px;
  line-height: 1.2;
}
.title_white {
  color: #FFFFFF;
}

.caption {
  color: #757575;
}
.caption-big {
  font-size: 20px;
  line-height: 1.2;
}
.caption-small {
  font-size: 16px;
  line-height: 1.25;
}

.header {
  padding: 12px 0;
  display: flex;
  align-items: center;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
}
.header__logo {
  margin-right: auto;
}
.header__info {
  margin-left: 80px;
}
.header .header__contacts,
.header .header__info {
  display: flex;
  gap: 32px;
}

.buttons {
  padding: 28px 0 32px 0;
  display: flex;
  justify-content: space-between;
}
.buttons__pages, .buttons__function {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  font-weight: 500;
  outline-color: transparent;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 20px;
  color: #161616;
  font-size: 16px;
  line-height: 1.25;
}
.button-search, .button-cart, .button-arrow {
  padding: 10px;
}
.button-search img, .button-cart img, .button-arrow img {
  vertical-align: bottom;
}
.button-request {
  background-color: #202226;
  color: #FFFFFF;
}

.promo {
  background-color: #202226;
  border-radius: 16px;
  margin-bottom: 120px;
}
.promo .title {
  width: 552px;
}
.promo__img {
  width: 576px;
  height: 420px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}
.promo__row {
  width: 451px;
  font-size: 16px;
  line-height: 1.25;
  color: #9F9F9F;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 11px;
  border-bottom: 1px solid #36383C;
}
.promo__row:first-child {
  padding-top: 0;
}
.promo__content {
  padding: 16px 16px 0 40px;
  display: flex;
  justify-content: space-between;
}
.promo__table {
  margin: 32px 0 88px 0;
}
.promo__info {
  padding-top: 24px;
  padding-bottom: 31px;
  border-bottom: 1px solid #36383C;
}
.promo__buttons {
  padding: 40px 55px 40px 40px;
  display: flex;
  justify-content: space-between;
}
.promo__arrows {
  display: flex;
  gap: 8px;
}

.catalog {
  margin-bottom: 120px;
}
.catalog__info {
  width: 852px;
}
.catalog__info .caption {
  margin-top: 20px;
  margin-bottom: 60px;
}
.catalog__card-content {
  border-radius: 16px;
  background-color: #F4F5F8;
  padding: 24px;
}
.catalog__card .title {
  width: 341px;
  height: 84px;
  margin-bottom: 12px;
}
.catalog__grid {
  display: grid;
  grid-template-columns: 389px 389px 389px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.features {
  margin-bottom: 120px;
}
.features .title-big {
  width: 852px;
  margin-bottom: 60px;
}
.features .title-small {
  margin-bottom: 20px;
}
.features .title-small,
.features .caption-small {
  width: 313px;
}
.features__card {
  display: flex;
  gap: 16px;
}
.features__card-icon {
  width: 59px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
}
.features__grid {
  display: grid;
  grid-template-columns: 389px 389px 389px;
  grid-column-gap: 16px;
  grid-row-gap: 40px;
}

.why {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.why .wrapper {
  border-radius: 16px;
}
.why .title {
  margin-bottom: 102px;
}
.why .caption {
  width: 512px;
}
.why__info {
  padding: 40px;
}
.why__card {
  height: 187px;
  background-color: #F4F5F8;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why__grid {
  display: grid;
  grid-template-columns: 187px 187px 187px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.questions {
  background-color: #202226;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.questions .button {
  background-color: #FFFFFF;
}
.questions__info {
  width: 451px;
  padding: 60px 0 140px 40px;
}
.questions__info .title {
  margin-bottom: 20px;
}
.questions__form {
  display: flex;
  flex-direction: column;
  padding: 60px 40px 60px 0;
}
.questions__form input {
  width: 552px;
  height: 50px;
  background-color: transparent;
  caret-color: #FFFFFF;
  font-size: 16px;
  line-height: 1.25;
  color: #9F9F9F;
  outline: none;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  border-bottom: 2px solid #FFFFFF;
}
.questions__form input#phone {
  margin: 20px 0;
}

/*# sourceMappingURL=style.css.map */
